{% extends 'helpers/base.html' %}

{% block title %}
Inicio de Sesion
{% endblock %}

{% block content %}
  {% if (est==False) %}
    <script>
      window.onload = function() {
          alert({ mensaje });
      };
    </script>
  {% endif %}
  <div class="container">
    <h2>Login</h2>
    <div class= "l_icon"></div>
    <form action="{{ url_for('login') }}" method="POST">
      <div class="form-group">
        <label for="user"><i class="bi bi-person-circle"></i>Usuario:</label>
        <input type="text" name="user" id="user" required>
      </div>
      <div class="form-group">
        <label for="pass">Contraseña:</label>
        <input type="password" name="pass" id="pass" required>
      </div>
      <button type="submit">Inicio</button>
    </form>
  </div>
{% endblock %}

